extends ./base.jade
block content
    .new-post
        img(src='/public/icons/add.png')
    .container
        .row
            .column
                each val in posts
                    .post
                        h2.title= val.title
                        p.description= val.description
                        p.body= val.body
                        .row
                            .column
                                a(class='full' href='post/' + val.id)
                                    button(class='button button-outline')= 'Read full'
                            .column
                                div.comments
                                    img(src='/public/icons/chat.png')
                                    i= val.commentsCount
                                div.likes
                                    img(src='/public/icons/like.png')
                                    i= val.likes

