extends ./base.jade
block content
    .container
        .row
            div(class='column column-10')
            div(class='column column-80')
                button(class='button button-outline back-button' onclick='back()') Back
                h1.post-title= post.title
                hr
                p.description= post.description
                .row
                p.body= post.body
                div.likes
                    img(src='https://png.pngtree.com/svg/20161221/1833edf79c.svg' onclick='like(' + post.id + ')')
                    i(id='likes-' + post.id)= post.likes
                br
                hr

                each val in comments
                    .comment
                        h3= val.sender + " says:"
                        p= val.text

                div(class='column column-40')
                    label(for='nameField') Name
                    input(type='text' placeholder='Anonymous' id='nameField')
                div(class='column column-80')
                    label(for='commentField') Your opinion
                    textarea(placeholder='Your comment...' id='commentField')
                div(class='column column-80')
                    button(class='button button-outline' onclick='comment(' + post.id + ')') Comment
            div(class='column column-10')

